@media(min-width:600px){
    .sideNav{
        inset:0 70% 0 0;
    }
    .wrapper{
        padding:30px;
    }
}
@media(min-width:900px){
    .topbar{
        display:none;
    }
    .sideNav{
        position:fixed;
        inset:0 auto 0 0;
        width:220px;
        transform:none;
        box-shadow:none;
        border-right:1px solid var(--line);
    }
    .closeBtn{
        display:none;
    }
    .wrapper{
        margin-left:220px;
        padding:40px;
    }
}
